.projects-page{
  display: flex;
  width: 100vw;
  height: calc(100vh - 40px);
  flex-direction: column;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
  background-color: #FDF5E6;
}

/* .pdf {
  width: 90vw;
  height: 90vh;
} */