.about-page {
  display: flex;
  width: 100vw;
  height: calc(100vh - 40px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FDF5E6;
}

.white-container {
  background-color: #ffffff;
  width: 80vw;
  height: 85vh;
  position: relative;
  border-radius: 7px;
  border: 1.5px solid rgb(216, 214, 214);
  box-shadow: 0px 3px 8px 0.5px rgb(184, 177, 177);
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 65px;
  font-weight: 650;
  /* margin: top right bottom left */
  margin: 30px 0 30px 70px
}

.description-container {
  margin: 0 64px 0 64px;
  border: 2.0px solid rgb(207, 185, 185);
  padding: 10px;
  border-radius: 4px;
}

.image-container{
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.computer-image {
  width: 400px;
  height: auto;
  opacity: 0.75;
}

.resume-container {
  display: flex;
  justify-content: center;
}

.pdf-image {
  width: 100px;
  height: 100px;
}

.pdf-image:hover {
  transform: scale(1.05);
}
